.logos {
  padding: 2rem 0;
  background: #fff;
}

.logos__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;

  img {
    height: 40px;
    opacity: 0.7;
    transition: 0.3s;

    &:hover {
      opacity: 1;
    }
  }
}
